# macOS spezifische Dateien
.DS_Store
.Trash/
.CFUserTextEncoding

# Node.js spezifische Dateien
node_modules/

# Systemverzeichnisse ignorieren
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

# Weitere Verzeichnisse und Dateien
*.log
# Node.js modules
npm-debug.log

# Log-Dateien
*.tmp
*.zip
*.exe
*.tar.gz
*.bak
Temp/
